.apple{
  background-image: url(./images/pexels-quintin-gellar-313782.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1570px;
  height: 870px;
}
.fdNsp{
  color: white !important;
}
.jwbeMX{
  color: rgb(8, 8, 8) !important;
}
nav {
  position: sticky;
  top: 0;
}
.fdNsp:hover{
  color: aquamarine;
}
